<div ng-controller="FormController" class="container">
    
  <div class="col-md-8 offset-sm-2">
    <div>
      <form name="userForm" class="userForm" novalidate>
        <div class="form-container">
            
          <div>
            <h3 class="form-header">{{datas.Name}}</h3>
          </div>
          <div>
            <h5 class="form-description">{{datas.Description}}</h5>
          </div>
          <div ng-repeat="dat in datas.Blocks">
             
            <div class="row" ng-switch on="dat.FieldsType">
                <div class="col-md-3">
                    <label>{{dat.Header}}</label>
                  </div>
              <!-- Text -->
              <div ng-switch-when="1" col class="col form-group block">
                <div class="col" ng-if="dat.Mandatory" ng-class="{'has-error':userForm.elem{{$index}}.$error.required}">
                  <input class="form-control" name="elem{{$index}}" ng-model="form['SimpleTextField_'+$index]"
                    placeholder="{{dat.TextField}}" required >
                  <p class="error-msg" ng-show="userForm.elem{{$index}}.$touched && userForm.elem{{$index}}.$invalid">
                    Поле обязательно для заролнения!</p>
                </div>
                <div class="col" ng-if="!dat.Mandatory">
                  <input class="form-control" name="elem{{$index}}" ng-model="form['SimpleTextField_'+$index]"
                    placeholder="{{dat.TextField}}">
                </div>
              </div>
              <!-- Text area -->
              <div ng-switch-when="2" class="col form-group block">
                <div class="col" ng-if="dat.Mandatory" ng-class="{'has-error':userForm.elem{{$index}}.$error.required}">
                  <textarea class="form-control" name="elem{{$index}}" ng-model="form['textArea_'+$index]"
                    placeholder="{{dat.TextField}}" required></textarea>
                  <p class="error-msg" ng-show="userForm.elem{{$index}}.$touched && userForm.elem{{$index}}.$invalid">
                    Поле обязательно для заролнения!</p>
                </div>
                <div class="col" ng-if="!dat.Mandatory">
                  <textarea class="form-control" name="elem{{$index}}" ng-model="form['textArea_'+$index]"
                    placeholder="{{dat.TextField}}"></textarea>
                </div>
              </div>
              <!-- radio btns. -->
              <div ng-switch-when="3" class="col form-group block">
                <div class="col">
                  <div class="row" ng-init="form['SelectOne_'+dat.Id]=item"
                    ng-repeat="item in dat.TextField.split(' ')">
                    <label>
                      <input class="Label-class" name="{{dat.Id}}" value="{{item}}" type="radio"
                        ng-model="form['SelectOne_'+dat.Id]">
                      {{item}}
                    </label>
                  </div>
                </div>
              </div>
              <!-- checkB -->
              <div ng-switch-when="4" class="col form-group block">
                <div class="col">
                  <div class="row" ng-repeat="item in dat.TextField.split(' ')">
                    <label>
                      <input class="Label-class" 
                        name="{{item.Id}}" type="checkbox"
                        ng-model="form['chboxitems'+dat.Id][$index]">
                      {{item}}
                    </label>
                  </div>

                </div>
              </div>
              <!-- sel. list -->
              <div ng-switch-when="5" class="col form-group block">
                <div class="col">
                  <select ng-init="form['SelectedItem_'+$index] = dat.TextField.split(' ')[0]" class="form-control"
                    name="SelectedItem" ng-model="form['SelectedItem_'+$index]"
                    ng-options="i for i in dat.TextField.split(' ')">
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-end submit-container">
            <input type="submit" id="submit" value="Отправить" ng-click="save(form,userForm)" class="btn btn-success">
          </div>
        </div>
      </form>
      
    </div>
  </div>
</div>
<div id="notes">
  
</div>